/* Work sans font from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131313;
  font-weight: 700;
}

p {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
}

.btn_primary {
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  margin: 30px 0px;
}

/* Header style here */

.header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 120px;
}

.header_area {
  width: 80%;
  margin: 0 auto;
  padding: 45px 0px;
}

.navigation_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu_area {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navigation_area .menu li a {
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}

.toggle_icom {
  border: none;
  font-size: 20px;
  outline: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.section_title {
  font-size: 3rem;
}

.banner_content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.banner_title {
  font-size: 4rem;
}

/* Main areas style */
.team_area {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 120px;
}

.img_area {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.team_content {
  flex: 1;
}

.features {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  column-gap: 10%;
}

.features_content {
  flex: 1;
}

.features_img {
  flex: 1;
}

.features_content .section_title {
  border-left: 5px solid #ff900e;
  padding-left: 30px;
}

.features_item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  padding: 30px;
}

.item_title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.experience_badge {
  width: 180px;
  border-radius: 8px;
  background: #ff900e;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 60px;
  left: -60px;
}

.experience_badge h2 {
  color: #fff;
  font-size: 2.5rem;
}

.experience_badge p {
  color: #fff;
}

.facts {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.fact_item_area {
  width: 90%;
  margin: 70px auto 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.fact_item {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 15px;
}

.fact_item h2 {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
}

.sponsors {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.sponsor_content {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.sponsor_area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

/* footer style */
.footer {
  width: 80%;
  border-radius: 8px;
  background: #fff4e7;
  margin: 0 auto 30px;
  padding: 20px;
  text-align: center;
}

.footer p {
  color: #424242;
  font-size: 20px;
}

/* Mobile device responsive */

@media screen and (max-width: 576px) {
  .header_area {
    width: 90%;
  }

  .toggle_icom {
    display: block;
  }

  .menu {
    display: none;
  }

  .team_area,
  .features {
    flex-direction: column;
  }

  .section_title {
    font-size: 2.3rem;
  }

  .banner_content {
    width: 100%;
  }

  .banner_title {
    width: 100%;
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  .team_area {
    width: 90%;
  }

  .img_area {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 30px;
    order: 2;
  }

  .team_content {
    text-align: center;
  }

  .features {
    width: 90%;
  }

  .experience_badge {
    left: 0px;
  }

  /* .facts{
    width: 90%;
  } */

  .fact_item_area {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .sponsor_area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .header_area {
    width: 90%;
    margin: 0 auto;
  }

  .toggle_icom {
    display: block;
  }

  .menu {
    display: none;
  }

  .section_title {
    font-size: 2.8rem;
  }
  .banner_content {
    width: 100%;
  }

  .banner_title {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }

  .team_area {
    width: 90%;
    flex-direction: column;
  }

  .img_area {
    gap: 18px;
    margin-bottom: 50px;
  }

  .team_content {
    text-align: center;
  }

  .features {
    flex-direction: column;
    width: 90%;
  }

  .experience_badge {
    left: -20px;
  }

  .features_content {
    order: 2;
  }

  .fact_item_area {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  /* .sponsors{
    width: 90%;
  } */

  .sponsor_area {
    grid-template-columns: repeat(3, 1fr);
  }
}
